services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  postgres:
    image: postgis/postgis:16-3.4
    container_name: postgres-postgis
    environment:
      POSTGRES_DB: hestia_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3

  mailhog:
    image: axllent/mailpit:latest
    container_name: mailhog
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI
    environment:
      - MP_SMTP_AUTH_ACCEPT_ANY=true
      - MP_SMTP_AUTH_ALLOW_INSECURE=true

  minio:
    image: minio/minio:latest
    container_name: hestia-minio
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Console Web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  minio-createbucket:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/hestia-media --ignore-existing;
      /usr/bin/mc anonymous set download myminio/hestia-media;
      exit 0;
      "

  # hestia:
  #   build:
  #     context: .
  #   container_name: hestia-backend
  #   env_file:
  #     - .env # Variables de base (local)
  #     - .env.docker # Override pour Docker (noms de services)
  #     - .env.railway # Certificats encodés base64 (simulation Railway)
  #   ports:
  #     - "8003:8000"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_started
  #     mailhog:
  #       condition: service_started
  #     # minio:
  #     #   condition: service_healthy
  #   # Pas de volume partagé pour reproduire environnement Railway (ISO prod)

volumes:
  redis-data:
  postgres-data:
  minio-data:
