{# Composant : Principales Exclusions MRH #}
<div class="exclusion-box">
    <h4>Principales Exclusions</h4>
    <p>L'assuré déclare avoir pris connaissance des exclusions précisées dans les conditions générales valant notice d'information dont les exclusions suivantes :</p>
    <ul>
        <li>tous dommages dûs à un défaut de réparation ou d'entretien caractérisé qui incombe à l'assuré</li>
        <li>les biens mis en sous location par l'assuré</li>
        <li>les biens à usage de stockage</li>
        <li>les biens mobiliers utilisés pour l'exercice d'une profession</li>
    </ul>
</div>
