{# Composant : Gestionnaire du Contrat MRH #}
<div class="text-section">
    <h3>Gestionnaire du Contrat</h3>
    <p>
        Mila Services – Gestion : 150 boulevard Joffre, 17000 La Rochelle Tél : 05.19.88.08.88.<br>
        Pour toute déclaration de sinistre, contactez le service client par email : contact@mila.fr ou par courrier à l'adresse visée ci-dessus.
    </p>
    <p>
        La garantie assistance est gérée par AXA via INTER PARTNER ASSISTANCE, Société Anonyme de droit belge au capital de 130 702 613 €, entreprise d'assurance non-vie agréée par la Banque Nationale de Belgique (0487), immatriculée au Registre des Personnes Morales de Bruxelles sous le numéro 415 591 055, dont le siège social est situé 7, Boulevard du Régent - 1000 Brussels - Belgique, prise au travers de sa succursale française immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro 316 139 500 et située 8-10 rue Paul Vaillant Couturier 92240 Malakoff. Tél. 01 55 92 23 91.
    </p>
</div>
