{# Composant : Mesures Obligatoires de Prévention MRH #}
<div class="prevention-box">
    <h4>Mesures Obligatoires de Prévention</h4>
    <p>L'assuré déclare avoir pris connaissance de l'ensemble des mesures obligatoires de prévention des risques, décrites ci-dessous et pouvant conduire, en cas de non-respect, à une réduction de l'indemnité versée en cas de sinistre :</p>
    <ul>
        <li>A l'exception des portes fenêtres s'ouvrant uniquement de l'intérieur, toutes les portes d'accès de l'habitation et des dépendances doivent comporter au moins une serrure ou un verrou de sûreté ou pouvoir être fermées par tous moyens automatisés (commande à distance, digicode, badge). En cas d'absence de l'assuré, les fenêtres doivent être fermées, les portes doivent l'être à clef.</li>
        <li>En cas d'inoccupation de l'habitation assurée pendant plus de 8 jours consécutifs, la distribution d'eau doit être coupée.</li>
        <li>En période de gel, si l'habitation est inoccupée pendant plus de trois jours et le chauffage est arrêté : la distribution d'eau doit être coupée et les conduites, réservoirs et appareils à effet d'eau ainsi que les installations de chauffage central non pourvues d'antigel en quantité suffisante doivent être vidangées.</li>
        <li>L'assuré doit être en mesure de justifier de l'entretien et le renouvellement des détecteurs incendie et de l'entretien de la chaudière par un professionnel agréé une fois par an.</li>
        <li>L'assuré doit être en mesure de justifier du respect de ses obligations annuelle de ramonage (dispositions applicables définies par le règlement sanitaire départemental de la commune de l'adresse du bien assuré), sauf s'il est indiqué dans le contrat de bail que le ramonage est une charge du bailleur.</li>
        <li>L'assuré doit respecter ses obligations de débroussaillage (articles L131-4, L131-8, L131-12, L131-14 à L131-18, L134-4 à L134-12, L135-2, L162-2, L163-4 à L163-6 du nouveau code forestier) si elles sont indiquées dans le contrat de bail être à la charge de l'assuré.</li>
        <li>En cas d'inoccupation du bien assuré pendant plus de 8 jours, les arrivées de gaz doivent être coupées.</li>
        <li>Aucun feu de cheminée ne peut être fait sans présence humaine, sans accord de la copropriété et/ou du propriétaire le cas échéant.</li>
        <li>Toute recharge de batterie au lithium doit être fait en présence humaine. Le chargeur de batterie doit être adapté à ce type de recharge et doit être équipé d'un système de protection contre la surcharge et la décharge excessive.</li>
    </ul>
    <p class="warning">En cas de sinistre dont l'origine est causée par le non-respect d'une mesure de prévention, l'assuré conservera à sa charge une franchise de 50% du montant des dommages.</p>
</div>
