{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title_bail }}</title>
  <style>
    body {
      font-family: 'Times New Roman', 'Arial', serif;
      font-size: 12pt;
      color: #3e3c41;
      background-color: #ffffff;
    }

    h1, h2, h3 {
      color: #4a6b85;
      margin-top: 2em;
    }
    .document-title {
      text-align: center;
      font-size: 20pt;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.2cm;
    }
    
    .document-subtitle {
      text-align: center;
      font-size: 12pt;
      font-style: italic;
      margin-bottom: 2cm;
    }
   

    p {
      line-height: 1.6em;
      text-align: justify;
    }

    ul {
      margin: 0;
      padding-left: 1.5em;
    }

    li {
      line-height: 1.6em;
      text-align: justify;
      margin-bottom: 0.5em;
    }

    .align-right {
      text-align: right;
    }

    .article {
      margin-bottom: 2em;
    }

    .section-title {
      font-weight: bold;
      font-size: 1.1em;
      margin-top: 1.5em;
    }

    .page-break {
      page-break-before: always;
    }
    .signature-section {
      margin-bottom: 0;
    }
    
    .signature {
      margin-top: 0;
    }
    
    .signature-list {
      display: block;
    }
    
    .signature-block {
      width: 45%;
      text-align: left;
      margin-bottom: 40px;
      min-height: 182px; /* correspond à la hauteur du tampon */
      border-bottom: 1px dotted #999;
    }
  </style>
</head>
<body>
  <h1 class="document-title">{{ title_bail }}</h1>
  <p class="document-subtitle">
    {{subtitle_bail}}
  </p>

  <div class="article">
    <h2>Article 1 - Désignation des parties</h2>

    <p class="section-title">1° Désignation des parties</p>
    <p>
      <ul>
        {% for proprietaire in bail.bien.proprietaires.all %}
          <li>{{ proprietaire.prenom }} {{ proprietaire.nom }} ({{ proprietaire.email }}), personne physique,
          domicilié{% if proprietaire.sexe == "F" %}e{% endif %} au {{ proprietaire.adresse }}{% if not forloop.last %};<br>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </p>
    <p class="align-right">
      Dénommé{% if bail.bien.proprietaires.all|length > 1 %}s{% endif %} ci-après « le bailleur » ;
    </p>
    
    <p>
      <ul>
      {% for locataire in bail.locataires.all %}
        <li>{{ locataire.prenom }} {{ locataire.nom }}{% if locataire.email %} ({{ locataire.email }}){% endif %}, personne physique{% if not forloop.last %};<br>{% endif %}</li>
      {% endfor %}
      </ul>
    </p>
    <p class="align-right">
      Dénommé{% if bail.locataires.all|length > 1 %}s{% endif %} ci-après « le locataire » ;
    </p>

    <p class="section-title">2° Déclaration des parties</p>
    <p>
      Le bailleur et le locataire déclarent, chacun en ce qui le concerne :
    </p>
    <p>
    <ul>
      <li>être résidents en France au sens de la réglementation en vigueur,</li>
      <li>ne pas être l'objet de poursuites ou de condamnations dans le cadre d'une procédure collective, redressement ou liquidation judiciaire, faillite, interdiction ou déchéance de droits civiques, affectant leur capacité civile ou juridique.</li>
    </ul>
    </p>
    <p>
      Par ailleurs, il est expressément convenu que toute notification ou communication effectuée en vertu du présent contrat est de plein droit opposable au conjoint du locataire ou à son partenaire lié par un pacte civil de solidarité, si l'existence de ce dernier n'a pas été préalablement portée à la connaissance du bailleur.
    </p>
  </div>

  <div class="article">
    <h2>Article 2 - Objet du contrat</h2>
    <p>
      {{ article_objet_du_contrat|safe }}
    </p>
  </div>

  <div class="article">
    <h2>Article 3 - Désignation du logement loué</h2>

    <p class="section-title">1° Désignation du logement loué</p>
    <p>
      {{ article_duree_contrat|safe }}
    </p>

    <p class="section-title">2° Description du logement loué</p>
    <p>
    <u>Surface habitable :</u> 
    </p>
      <p>
    Conformément à l’article 3 de la loi du 6 juillet 1989, la surface habitable du logement a été déterminée selon les critères définis à l’article R. 111-2 du Code de la construction et de l’habitation. <br>
    </p>
    <p>
    Elle s’élève à {{bail.bien.superficie}} mètres carrés. <br>
    </p>
    <p>
      <br>
    <u>Nombre de pièces :</u> 
    </p>
    <p>
      Le logement loué est constitué comme suit, soit {{bail.bien.nb_pieces}} {% if bail.bien.nb_pieces == "1" %}pièce principale{% else %}pièces principales{% endif %} :
      {{pieces_info|safe}}
    </p>
    <br>
    
    {% if annexes_privatives_info%}
    <p>
    <u>Annexes privatives :</u> 
    </p>
    <p>
    Le logement loué comprend, en sus des pièces principales, les annexes privatives ci-dessous : 
    <ul>
      {% for annexe in annexes_privatives_info %}
        <li>{{ annexe }}</li>
      {% endfor %}
    </ul>

  </p>

    <br>
    {% endif %}

    {% if annexes_collectives_info%}
    <p>
    <u>Annexes communes :</u> 
    </p>
    <p>
    Le logement loué comprend, en sus des pièces principales, les annexes communes ou non privatives, rattachées à la jouissance du bien, suivantes : 
    <ul>
      {% for annexe in annexes_collectives_info %}
        <li>{{ annexe }}</li>
      {% endfor %}
    </ul>
  </p>
    <br>
    {% endif %}
    {% if bail.bien.meuble%}
    <p>
    <u>Équipements :</u> 
    </p>
    <p>
      Le logement est loué meublé, conformément aux dispositions de l’article 25-4 de la loi du 6 juillet 1989. <br>
Il est pourvu des éléments de mobilier obligatoires fixés par l’article 2 du décret n°2015-981 du 31 juillet 2015, permettant une occupation normale par le locataire (couchage, cuisine, rangements, etc.) <br>
La liste complète des meubles et équipements présents sera constatée et signée contradictoirement entre les parties dans le cadre de l’état des lieux d’entrée, établi le jour de la remise des clés. <br>
    </p>
    <br>
    {% endif %}

    {% if information_info%}
    <p>
    <u>Équipements d’accès aux technologies de l’information et de la communication :</u> 
    </p>
    <p>
    Le logement est éligible ou équipé, pour permettre l’accès aux services de communication électronique, mentionnés ci-dessous : 
    <ul>
      {% for information in information_info %}
        <li>{{ information }}</li>
      {% endfor %}
    </ul>
    <br>
  </p>
  <p>
    Sauf mention contraire au présent contrat ou dans l’état récapitulatif des charges, ces services ne sont pas inclus dans les charges locatives et doivent être souscrits directement par le locataire auprès du fournisseur de son choix. Dans ce cas, le bailleur ne garantit ni la qualité ni la continuité de ces services, qui dépendent d’opérateurs tiers. Il appartient au locataire de souscrire les abonnements nécessaires auprès des prestataires de son choix. <br>
Lorsque tout ou partie de ces services est inclus dans les charges, le bailleur en informe le locataire, notamment en précisant la nature et les limites des prestations fournies (ex : accès Internet mutualisé dans l’immeuble). <br>
Le locataire s’engage à ne pas modifier ni dégrader les équipements existants, sauf accord exprès du bailleur. <br>
L’installation de nouveaux équipements ou de dispositifs de réception spécifiques reste soumise à l’autorisation préalable du bailleur et, le cas échéant, à celle de la copropriété.
  </p>
  <br>
    {% endif %}


    <p class="section-title">3° Modalités d’énergie du logement loué</p>
    <p>
    <u>Modalité de production de chauffage et d’eau chaude sanitaire :</u> 
    </p>
    <p>
      {{energy_info|safe}}
    </p>
    <br>

    <p>
    <u>DPE :</u> 
    </p>
    {% if bail.bien.classe_dpe != "NA"%}
    <p>
      Selon le diagnostic de performance énergétique (DPE), le logement présente une classe énergétique {{bail.bien.classe_dpe}}, avec un montant estimé des dépenses annuelles pour l’ensemble des usages (chauffage, eau chaude sanitaire, éclairage, etc.) évalué {{bail.bien.depenses_energetiques}}.
    </p>

    {% else %}
    <p>
      Le présent logement n’est pas soumis à l’obligation de réalisation d’un diagnostic de performance énergétique, conformément à l’article R.126-15 du Code de la construction et de l’habitation. <br>
  Cette exclusion s’applique notamment aux logements dépourvus de système de chauffage fixe ou à certains bâtiments spécifiques non couverts par la réglementation thermique.
    </p>
    <br>
    {% endif %}

  <div class="article">
    <h2>Article 4 - Destination du logement loué</h2>
    <p>
     Le logement est loué à usage d’habitation principale.
    </p>
  </div>

  <div class="article">
    <h2>Article 5 - État des lieux</h2>
    <p>Un état des lieux d’entrée sera établi contradictoirement entre le bailleur et le locataire, à la date de remise des clés.</p>
    <p>Il ne sera pas annexé au présent contrat, mais un exemplaire signé sera remis à chacune des parties et conservé séparément.</p>
    <p>Il est précisé que le logement loué répond aux critères de décence, tels que définis par le décret n°2002-120 du 30 janvier 2002.</p>
    <p>Conformément à la loi, le locataire pourra, pendant le premier mois de la période de chauffe, demander que l’état des lieux soit complété par l’état des éléments de chauffage.</p>
    <p>A la fin de la location, un état des lieux de sortie sera également établi, contradictoirement entre les parties ou, à défaut, par un commissaire de justice (anciennement huissier), lors de la restitution des clés.</p>
</div>

  <div class="article">
    <h2>Article 6 - Date de prise d’effet et durée du contrat</h2>
   
    <p><strong>1° Date de prise d’effet du contrat</strong></p>
    <p>
    Le présent contrat prend effet à compter du {{bail.date_debut|date:"j F Y"}}.
    </p>
    
    <p><strong>2° Durée</strong></p>
    <p>
    La présente location est consentie et acceptée pour une durée de {% if bail.bien.meuble %}1 an{%else%}3 ans{% endif %} à compter de la date de prise d’effet du présent contrat de location.
    </p>
    <p>
    À l'expiration de cette période, le présent contrat se poursuivra par tacite reconduction pour des périodes successives de {% if bail.bien.meuble %}1 an{%else%}3 ans{% endif %}, à défaut de volonté contraire manifestée par l'une ou l'autre des parties selon les règles suivantes.
    </p>
    
    <p><strong>3° Congés</strong></p>
    <p>
    <em>Congé par le locataire.</em> – Le locataire pourra donner congé à tout moment en cours de contrat. 
    Ce congé devra être délivré au moins {% if bail.zone_tendue %}1 mois{%else%}3 mois{% endif %} à l'avance par lettre recommandée avec demande d'avis de réception ou par acte d'huissier. 
    Le délai de préavis est décompté à partir de la date de réception de la lettre de congé par le bailleur. À l'expiration du préavis, le locataire devra libérer les lieux le lendemain du dernier jour au plus tard à midi.
    </p>
    
    <p><em>Congé par le bailleur.</em> – Le bailleur pourra donner congé au locataire dans les formes et aux conditions prévues par l’article 25-8 de la loi du 6 juillet 1989, sauf si le locataire bénéficie, en raison de son âge ou du montant de ses ressources, des mesures de protection édictées par l’article 25-8, II de la loi du 6 juillet 1989 précitée. Ce congé sera délivré pour la date d'expiration du contrat, moyennant un délai de préavis de {% if bail.zone_tendue %}3 mois{%else%}6 mois{% endif %}, soit par lettre recommandée avec demande d'avis de réception soit par acte d'huissier ou être remis en main propre contre récépissé ou émargement. 
      Le délai de {% if bail.zone_tendue %}3 mois{%else%}6 mois{% endif %} courra à compter du jour de la réception de la lettre recommandée ou de la signification de l'acte d'huissier ou de la reprise en main propre.
    </p>
    <p>
      Le bailleur ne pourra se fonder que sur la décision de reprendre le logement pour l'habiter, la décision de vendre le logement, ou sur un motif légitime et sérieux, notamment l'inexécution par le locataire de l'une des obligations lui incombant (article 25-8 de la loi du 6 juillet 1989 et la notice d’information jointe).
    </p>
    <p>À défaut de congé donné par l'une ou l'autre des parties dans les formes et délais sus indiqués, le contrat sera reconduit tacitement aux mêmes clauses et conditions pour une durée de {% if bail.bien.meuble %}1 an{%else%}3 ans{% endif %}.
    </p>
    
    <p><strong>4° Abandon du domicile</strong></p>
    <p>En application de l’article 14 de la loi du 6 juillet 1989 dans le cas d’un abandon du domicile par le locataire, le contrat de location continue au profit du conjoint, sans préjudice de l’article 1751 du code civil, des descendants qui vivaient avec lui depuis au moins 1 an à la date de l’abandon du domicile, du partenaire lié au locataire par un pacte civil de solidarité, des ascendants, du concubin notoire ou des personnes à charge, qui vivaient avec lui depuis au moins 1 an à la date de l’abandon du domicile.</p>
    <p>Lorsque des éléments laissent supposer que le logement est abandonné par le locataire ou toute personne susvisée, le propriétaire peut mettre en demeure le locataire de justifier qu’il occupe le logement. Cette mise en demeure, faite par acte d’huissier de justice, peut être contenue dans un des commandements visés aux articles 7 et 24 de la loi du 6 juillet 1989.</p>
    <p>À défaut de réponse dans le délai de 1 mois, l’huissier peut procéder à la constatation de l’état d’abandon et le propriétaire pourra engager la procédure de résiliation du bail d’habitation.</p>
    
    <p><strong>5° Décès du locataire</strong></p>
    <p>
     Lors du décès du locataire, le contrat de location est transféré au conjoint survivant qui ne peut se prévaloir des dispositions de l’article 1751 du code civil, aux descendants qui vivaient avec lui depuis au moins 1 an à la date du décès, au partenaire lié au locataire par un pacte civil de solidarité, aux ascendants, au concubin notoire, aux personnes à charge, qui vivaient avec lui depuis au moins 1 an à la date du décès.
    </p>
    <p>
      À défaut de personnes remplissant les conditions prévues au présent article, le contrat de location est résilié de plein droit par le décès du locataire.
    </p>  




  </div>
  <div class="article">
    <h2>Article 7 – Conditions générales</h2>
    <p>
      Le présent contrat est consenti et accepté aux conditions générales suivantes, que les parties s'obligent à exécuter, chacune en ce qui la concerne, sauf stipulation contraire expressément convenue entre les parties.
    </p>

    <p><strong>1° Occupation - Jouissance</strong></p>
    <p>
    Usage des locaux. – Le locataire usera paisiblement de la chose louée suivant la destination prévue ci-dessus. Il s'engage à ne pas modifier cette destination. 
    </p>
    <p>
      Plus particulièrement, les meubles et objets mobiliers ne devront être employés qu'à l'usage auquel ils sont destinés et dans les lieux où ils se trouvent.
    </p>  
    <p>
      Il est interdit au locataire de les transporter hors du logement, sauf accord exprès du bailleur. Le locataire devra également veiller à ce qu'ils soient utilisés normalement afin d'éviter leur détérioration prématurée.
    </p>
    <p>
      Visites. – Le propriétaire pourra visiter la chose louée ou la faire visiter par toute personne mandatée par lui, pour la surveillance et l'entretien de l'immeuble et de toutes les installations, toutes les fois que cela sera nécessaire, à charge de prévenir au préalable le locataire. 
    </p>
    <p>
      Il pourra également en vue de la vente ou de la relocation du logement loué, le faire visiter, 1 mois avant la date de fin du contrat, chaque jour ouvrable durant 2 heures qui seront fixées d'un commun accord entre les parties entre 13 et 19 heures, ou à défaut par le juge des référés.
    </p>
    <p>
      Cession - Sous-location. – Le locataire devra occuper le logement lui-même. Il ne pourra pas céder les droits qu'il tient du présent contrat, ni sous-louer, ni même prêter tout ou partie de la chose louée sans l'accord exprès du propriétaire.
    </p>
    <p>
      Le locataire ne pourra l'affecter à un autre usage et il ne pourra donc en particulier y exercer une activité professionnelle, même libérale, ni de sous-location, sans l’accord exprès du bailleur.
    </p>
    <p>
      Le prix du loyer au mètre carré de surface habitable des locaux sous-loués ne peut excéder celui payé par le locataire principal. Le locataire transmet préalablement au bailleur copie du projet de convention de sous-location. Le locataire transmet au sous-locataire l’autorisation écrite du bailleur et la copie du bail en cours.
    </p>


    <p><strong>2° Responsabilité - Assurance</strong></p>
    <p>
      Le locataire répondra des dégradations et pertes qui pourraient survenir à la chose louée pendant la durée du contrat, à moins qu'il ne prouve qu'elles ont eu lieu par cas de force majeure, par la faute du propriétaire, ou par le fait d'un tiers qu'il n'a pas introduit dans le logement.
    </p>
    <p>
      Il devra, pendant toute la durée du contrat, faire assurer la chose louée auprès d'une compagnie notoirement solvable et pour une somme suffisante contre les risques dont il doit répondre en sa qualité de locataire, notamment contre l'incendie, les dégâts des eaux, les risques locatifs et le recours des voisins. Le locataire s’engage à fournir une attestation d’assurance au moins une fois par an ou sur demande du bailleur. 
    </p>


    <p><strong>3° Entretien - Réparations - Travaux</strong></p>
    <p>
      Locataire. – Le locataire aura à sa charge l'entretien courant de la chose louée, les menues réparations et l'ensemble des réparations locatives, sauf si elles sont occasionnées par vétusté, malfaçon, vice de construction, cas fortuit ou force majeure. Les réparations à la charge du locataire sont définies par le décret n° 87-712 du 26 août 1987.
    </p>
    <p>
      En ce qui concerne particulièrement les meubles et objets mobiliers compris dans la location, le locataire devra les maintenir en bon état et les rendre de même en fin de contrat, sauf les détériorations et l'usure provenant d'une utilisation normale. À son départ, il sera également tenu de rembourser au propriétaire la valeur de ces meubles et objets mobiliers qui auraient été perdus ou détériorés autrement que par vétusté, cas fortuit ou force majeure.
    </p>
    <p>
      Le locataire s’engage également à laisser exécuter dans les lieux loués les travaux d’amélioration des parties communes ou des parties privatives de l’immeuble ainsi que les travaux nécessaires au maintien en état et à l’entretien normal des locaux loués.
    </p>
    <p>
      Propriétaire. – De son côté, le propriétaire sera tenu d'entretenir la chose louée en état de servir à l'usage prévu par le contrat et d'y faire toutes les réparations nécessaires autres que locatives et d'entretien. À cette fin, le locataire s'engage à le prévenir immédiatement de toute détérioration qu'il constaterait et qui nécessiterait des réparations à la charge du propriétaire.
    </p>
    <p>
      Troubles de jouissance. – Le locataire devra souffrir sans indemnité la réalisation par le propriétaire des réparations qui deviendraient urgentes ou nécessaires. 
    </p>
    <p>
      Application d’une grille de vétusté. - Conformément à l’article 4 du chapitre II du décret n°2016-382 du 30 mars 2016, la grille de vétusté appliquée au présent contrat de location se trouve en annexe. Il s’agit de l’accord collectif portant sur la grille de vétusté et l’indemnité de remise en état des logements à l’OPAC de Paris. Le locataire reconnaît avoir pris connaissance de cette grille, qui a été convenue entre les parties.
    </p>


    <p><strong>4° Aménagements - Transformations</strong></p>
    <p>
      Toute transformation ou aménagement nécessitera l'accord exprès et écrit du propriétaire.
    </p>
    <p>
      À défaut de cet accord, le propriétaire pourra exiger la remise en état des locaux ou des équipements, au départ du locataire, ou conserver les transformations ou aménagements effectués sans que le locataire puisse réclamer une indemnité pour les frais engagés.
    </p>
    <p>
      Le propriétaire pourra également exiger, aux frais du locataire, la remise immédiate des lieux en l'état au cas où les transformations ou aménagements mettraient en péril le bon fonctionnement des équipements ou la sécurité du local.
    </p>


    <p><strong>5° Solidarité - Indivisibilité</strong></p>
    <p>
      En cas de décès du locataire, il y aura solidarité et indivisibilité entre tous ses héritiers et représentants comme aussi entre chacun de ces derniers et tous autres coobligés pour le paiement des loyers et accessoires ainsi que pour l'exécution, en général, du présent contrat et les frais de la signification prescrite par l'article 877 du Code civil seront à la charge exclusive de ceux à qui elle sera faite.
    </p>

    {% if bail.locataires.all|length > 1 and bail.solidaires %}
    <p>
      Les locataires seront tenus solidairement de l’accomplissement de l’ensemble des obligations résultant du présent contrat, ce qu’ils acceptent.
    </p>
    {% endif %}
  </div>

    <div class="article">
    <h2>Article 9 – Conditions financières</h2>
    
    <p><strong>1° Fixation du loyer initial</strong></p>

      <p>
        xxxx
      </p>



  <p>[...]</p>

  



  <div class="section signature-section">
    <h2>7. Signatures</h2>
    <div class="signature">
      <!-- Landlord signature blocks -->
      <h4 id="landlord-signature-header">
        {% with count=bail.bien.proprietaires.all|length %}
          Propriétaire{% if count > 1 %}s{% endif %}
        {% endwith %}
      </h4>
      <div class="signature-list">
        {% for person in bail.bien.proprietaires.all %}
        <div class="signature-block">
          <!-- ID invisible pour PyMuPDF -->
          <p style="color:white; margin: 0;">ID_SIGNATURE_{{ person.id }}</p>
        </div>
        {% endfor %}
      </div>
  
      <!-- Tenant signature blocks -->
      <h4 id="tenant-signature-header">
        {% with count=bail.locataires.all|length %}
          Locataire{% if count > 1 %}s{% endif %}
        {% endwith %}
      </h4>
      <div class="signature-list">
        {% for person in bail.locataires.all %}
        <div class="signature-block">
          <!-- ID invisible pour PyMuPDF -->
          <p style="color:white; margin: 0;">ID_SIGNATURE_{{ person.id }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
